body {
  background-color: var(--bg);
  color: var(--textNormal);
  transition: color 0.2s ease-out, background 0.2s ease-out;
  --blue: #00e0e0;
  --orange: #f5ab35;
  --darkBlue: #007acc;
  min-width: 477px;
}

body.dark {
  --bg: #2b2b2b;
  --textNormal: rgba(255, 255, 255, 0.9);
}

body.light {
  --bg: #fff;
  --textNormal: #222;
}

.dark a {
  color: var(--blue);
}
.light a {
  color: var(--darkBlue);
}

.dark hr {
  background-color: rgba(255, 255, 255, 0.7);
}

code {
  background-color: #f7f7f9;
  color: #222;
  padding: 2px 5px;
  border-radius: 2px;
}

pre {
  background-color: #f7f7f9;
  padding: 12px;
  color: #222;
}
